.print{display:none;}.screen{display:inline-block;}
.icon- i{padding:0 5px;}
.invoices-menu-sidebar-link .icon-file-text{font-size:15px;width:13px;display:inline-block;position:relative;top:1px;left:1px;}
.invoice-des{width:100%;}
#invoice-content{background:#FFF;box-shadow:0 0 2px rgba(0, 0, 0, 0.2);width:960px;margin:0 1px;padding:10px;direction:rtl;}
#invoice-content *{font-family:Verdana,Helvetica,Arial,sans-serif;}
#invoice-content [class^="icon-"],#invoice-content [class*=" icon-"]{font-family:'icomoon';}
.invoice-company,.invoice-customer{display:inline-block;float:right;}
.invoice-company{width:635px;padding:0 20px;}
.invoice-head{margin-bottom:30px;font-size:14px;height:180px;}
th.invoice-sharp{width:1%;}
.invoice-company .telephone{direction:ltr;text-align:right;}
.customer-info-tag{width:40px;display:inline-block;}
.invoice-company .address{width:300px;}
.invoice-customer h1,.invoice-company h2{margin-top:12px;letter-spacing:0;}
.invoice-customer{width:280px;}
#invoice-date{border:0;text-align:left;width:100px;}
.invoice-autocomplete{display:none;margin:0px 1px 0 1px;top:28px!important;}
ul.invoice-autocomplete.show{display:block;}
.icon-remove22,#invoice-add-item{cursor:pointer;}
#invoice-table td input{width:100%;border:none;}
#invoice-table tbody tr{border-bottom:1px solid #DDD;}
#invoice-table tfoot td.bordred{border:1px solid #BBB;}
#invoice-table tbody td{border:1px solid #DDD;}
.invoice-alphabetic-amount{text-align:center;}
#alphabetic-amount{letter-spacing:1px;font-size:16px;}
.invoice-signature-space{height:100px;}
span#amount{font-weight:bold;}
.invoice-signature{margin:10px 40px;font-size:16px;}
#vat,#amount,#subtotal{margin:0 3px;}
#invoice-table tbody input.tot{background:#FFF;color:#000;}
#downpayment{font-family:inherit;}
.invoice-table{margin-bottom:50px;}
#invoices-sidebar-stock i{font-size:15px;position:relative;top:2px;margin:0 -1px;}
#add-new-invoice .icon-file4:before{content:"\eb68";font-size:12px;padding:0 0 0 1px;left:-.5px;position:relative;}
#block-invoices-ng-invoices-ng-invoices-block h2.block-title{letter-spacing:1.5px;}
.inv-des{position:relative;}
#customer-name.form-autocomplete{background-position:2px 4px;}
.customer-info{position:relative;display:inline-block;}
#invoice-filter-customer-autocomplete,#customer-autocomplete-list{display:none;position:absolute;left:1px;max-height:224px;background:#EEEEEE;border:2px solid #FFF;overflow:auto;padding:5px;box-shadow:0px 1px 3px rgba(0, 0, 0, 0.3);border-bottom-left-radius:3px;border-bottom-right-radius:3px;z-index:9;}
#invoice-filter-customer-autocomplete li:hover,#customer-autocomplete-list li:hover{cursor:pointer;background:#FFF;}
#invoice-filter-customer-autocomplete.show,#customer-autocomplete-list.show{display:block;}
#add-invoice{display:none;}
#add-invoice .selects-row{margin:0px 10px;display:inline;position:relative;top:1px;}
.invoice-select{line-height:18px;text-align:center;width:80px;padding:0 0 0 20px;}
#invoice-sidebar-sheets.hide{display:none!important;}
td.inv-des:after{content:attr(data-content);position:relative;float:right;margin:-19px 20px;background:#EEE;padding:0 3px 1px;font-size:10px;color:#888;line-height:14px;box-shadow:inset 0px 0px 1px #CCC;}
.flip-flop{direction:ltr;text-align:right;}
#invoice-filter-date{padding:0;border:0;box-shadow:inset 0 0 1px #999;}
.invoice-filter-wrapper{margin-bottom:5px;}
#filter-action{margin:0 10px;}
