.block input[id*="date-sales-datepicker"]{text-align:center;background-color:#F7F7F7;border:1px solid #CCC;}
#date-sales .description{display:none;position:absolute;top:-14px;background:#EEE;color:#A6AEB5;padding:0 5px;height:15px;z-index:999;}
#date-sales.show-description .description{display:block;color:#FF2424;background:#FFC5C5;text-shadow:0 0 1px #FFF;box-shadow:inset 0 0 1px #F22;}
#conf-keyboard-ui .div-keyboard{float:left;}
.close-kbui{cursor:pointer;background:#CEAF62;color:#FFF;font-weight:bold;margin:2px 0px;position:absolute;top:1px;right:5px;padding:1px 6px 2px;display:block;float:right;z-index:1;}
#conf-keyboard-ui{display:none;width:220px;position:absolute;right:0px;margin:25px 0;padding:20px;background:#EEE;box-shadow:0px 1px 1px #999,0px 0px 10px #666;}
#date-sales {padding:1px 0px 0px 0px; top:2px; position:relative; }
#date-sales label{display:none;}
textarea.resizable{resize:vertical;}
*[id^="des-"],*[id^="qty-"],*[id^="pxu-"],*[id^="tot-"],*[id^="rem-"] {width :100%; height: 22px; }
td.des:after{content:attr(data-content);position:relative;float:right;margin:-19px 20px;background:#EEE;padding:0 3px 1px;font-size:10px;color:#888;line-height:14px;box-shadow:inset 0px 0px 1px #CCC;}
td.des.overstock:after{background:#FFD3D3;color:#F00;box-shadow:inset 0px 0px 1px #F00;}
td.des.hidecontent:after{opacity:.5}
.op-column .imsg {color:#AAA; margin:0 3px; cursor:pointer; padding-top: 3px; height:11px!important; font-size: 13px!important; overflow:hidden; display:block; float:left; box-shadow:0px 1px 0px #AAA; }
.op-column .icheck {float:left; }
.op-column .iinfo-status {color:#4A0;}
.op-column .iinfo-error {color:#F20;}
.op-column .iinfo-warning {color:#840;}
.op-column .red-info{color:#ED541D;}
#edit-field-date-value-value input,.hasDatepicker{text-align:center;}
/* ------ Sales Table ------ */
.select-tool-content{display:none;}
tr td.select,tr th.select {width:50px}
tr.sale-row {border:1px solid #DDD;}
.op-column {text-align:center;padding:0 1px; }
.icheck input{position:relative; top:-1px; cursor:pointer; }
th.select{padding:3px 8px;}
th.add-sale{width:1px;padding:0px;}
td.add-sale{padding:0px;}
i#validate-sale-row{position:relative;top:2px;font-size:16px;cursor:pointer;color:rgba(34, 119, 0, 0.7);}
i#validate-sale-row:hover{color:#270;}
.op-column i.ii{margin:0 5px;}
/* ------ Sales Select ------ */
.select-tool-btn {border:1px solid #CCC;height:16px;position:relative;background-color:transparent;background-image:linear-gradient(top,rgba(255,255,255,.85),rgba(247,247,247,.85));background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.85)),to(rgba(247,247,247,.85)));background-image:-webkit-linear-gradient(top,rgba(255,255,255,.85),rgba(247,247,247,.85));border-radius:2px;text-align:center;cursor:pointer; }
.select-tool-btn:hover {background-color:transparent;background-image:linear-gradient(top,rgba(255,255,255,.9),rgba(247,247,247,.9));background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.9)),to(rgba(247,247,247,.9)));background-image:-webkit-linear-gradient(top,rgba(255,255,255,.9),rgba(247,247,247,.9));box-shadow:0 1px 1px rgba(0,0,0,0.1);}
#icheckbox{cursor:pointer; position:relative; z-index:1;float:left;margin:4px -6px 0px 15px;}
#icheckbox:hover {box-shadow:1px 1px 0px #AAA,-1px -1px 0px #AAA,1px -1px 0px #AAA,-1px 1px 0px #AAA, inset 0px -5px 6px #DDDDDD, inset 0px 1px 1px #DDD; }
#sales-select-tool-content {position:absolute;background:#FFFFFF;border:1px solid #EEE;box-shadow:0px 1px 1px rgba(0, 0, 0, 0.1);z-index:1;padding:10px 0; }
#sales-select-tool-content ul {margin-bottom:0px;}
#sales-select-tool-content li {list-style:none;padding:0px 25px;cursor:pointer;}
#sales-select-tool-content li:hover {background:#EEE;}
.icheckbox:before{position:relative;left:-0.5px;font-size:11px;font-weight:bold;color:#333;}
/* Load Sales */
#sales-ng-sales-form .form-type-date-popup.form-item-date{float:left;margin-bottom:12px;}
/* New Sale */
.fake-checkbox{display:inline-block;width:10px;height:10px;box-shadow:1px 1px 0px #AAA,-1px -1px 0px #AAA,1px -1px 0px #AAA,-1px 1px 0px #AAA,inset 0px -8px 6px #DDDDDD;border-radius:2px;}
i.ii .fake-checkbox{opacity:.5;cursor:not-allowed;margin:0 1px 0 2px;}
.autocomplete-product-details{color:#888!important;font-size:11px;position:relative;top:-1px;}
input#date-sales-datepicker-popup-0{width:160px;}
.des.col-name{position:relative;}