#add-contact{display:none;}
#suppliers-sidebar-contacts{display:none;}
#block-contacts-ng-contacts-ng i.icon-addressbook:before{position:relative;top:1px;}
.add-contact-block{display:none;}
.add-contact-form .contact-form{width:100%;margin:5px 0;padding:0px 10px;height:30px;border-radius:5px;box-shadow:0 1px 1px #FFF,inset 0 -2px 10px #EEE;color:#333;}
.customers-line-item span[contenteditable]{box-shadow:1px 1px 0 #CCC,1px -1px 0 #CCC,-1px 1px 0 #CCC,-1px -1px 0 #CCC,0 0 3px #0CF;border-radius:2px;display:block;padding:0 5px;}