/* BASE COLOR [ 413D3D | 040004 | C8FF00 | FA023C | 4B000F ]
							[ 844D64 | E3687D | CEE465 | 759BA6 | EA5101 ]
							[ 1A8ECB | 27CDFF | 2B2C2E | 71C800 | 4D8601 | E3ECD7 | EC0000 | 96070B | 310009 ] */
@font-face{font-family:'diwan';src:url('../fonts/diwan.ttf')format('truetype');}
@font-face{font-family:'josefin';src:url('../fonts/josefin.ttf')format('truetype');}
@font-face{font-family:'burner';src:url('../fonts/burner.ttf')format('truetype');}
/* ----- TRANSITION ANIMATION ----- */
.conf-number-ui{-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
#day-manng{-webkit-transition:all 2s ease-in-out;-moz-transition:all 2s ease-in-out;-o-transition:all 2s ease-in-out;-ms-transition:all 2s ease-in-out;transition:all 2s ease-in-out;}
#date-manng,#time-manng{-webkit-transition:all 3s ease-in-out;-moz-transition:all 3s ease-in-out;-o-transition:all 3s ease-in-out;-ms-transition:all 3s ease-in-out;transition:all 3s ease-in-out;}
/* ----- CORRECTIF ----- */
body{overflow:hidden;background:url(../images/dots.png)center;}
#block-user,#shield-glass,#shield-block{display:none;}
#ui-datepicker-div{display:none;z-index:9999!important;width:auto;}
#content-block-data,.not-logged-in #block-block-5,.logged-in #block-block-1{display:none;}
.krumo-root{position:absolute;top:60px;z-index:1;}
.not-logged-in #messages{display:none;}
.icon-invoice:before{display:inline-block;-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);transform:rotate(180deg);}
table{background-color:#FEFEFE;}
table thead th{text-shadow:#fff 0px 1px 0px;font-size:11px;color:#000;}
.col-nom{color:#004FA8;}
.col-pur,.col-cny,.col-typ{color:#00823C;}
.col-pxu,.col-stu{color:#2A8900;}
.col-qty,.col-mnt{color:#EE0B34;}
.col-tot,.col-dpy{color:#B200CD;}
.col-cat,.col-fne,.col-dte{color:#A67C00;}
tr{border:1px solid #DDD;}
button:focus{border-radius:11px;}
.button{-webkit-appearance:none;-moz-border-radius:11px;-webkit-border-radius:11px;-moz-background-clip:padding;-webkit-background-clip:padding;background-clip:padding-box;border-radius:11px;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));background:-moz-linear-gradient(top center, #fff 0%, #ddd 100%);border:1px solid;border-color:#ddd #bbb #999;cursor:pointer;color:#333;outline:0;overflow:visible;padding:1px 10px;text-shadow:#fff 0 1px 1px;width:auto;}
.btn-tool{-webkit-appearance:none;-moz-border-radius:11px;-webkit-border-radius:11px;-moz-background-clip:padding;-webkit-background-clip:padding;background-clip:padding-box;border-radius:3px;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));background:-moz-linear-gradient(top center, #fff 0%, #ddd 100%);border:1px solid;border-color:#ddd #bbb #999;cursor:pointer;color:#333;outline:0;overflow:visible;padding:0px 15px;margin:2px;text-shadow:#fff 0 1px 1px;width:auto;float:left;clear:both;}
tr:hover td{background-color:rgba(0, 139, 255, 1);color:#FFF;}
tr:hover td.select,tr:hover td.add-sale,tr:hover select{background-color:#FFF!important}
tr:hover td .name,tr:hover td li{color:#333!important}
tr:hover i{text-shadow:0px 0px 1px #fff;}
input:focus{box-shadow:0px 0px 6px #004EFF;}
/* ----- RESPONSIVE ----- */
.fix-width-10{width:10%;}
.fix-width-15{width:15%;}
.fix-width-20{width:20%;}
.fix-width-30{width:30%;}
.input-fix-width-10{width:7.16%;}
.input-fix-width-15{width:10.75%;}
.input-fix-width-20{width:14.33%;}
.input-fix-width-30{width:21.5%;}
/* ----- NOTIFICATION ----- */
select.error,input.error,form #date-sales-datepicker-popup-0.error{border:1px solid red!important;color:#333;}
span.error{box-shadow:1px 1px 0px #F00,1px -1px 0px #F00,-1px 1px 0px #F00,-1px -1px 0px #F00,0px 0px 3px #F00!important;}
.msg-op div.messages{padding:1px 0px 0px 18px; background-position-y:2px; background-size:17px; height:20px;}
.msg-op div .messages .close{float:right;width:10px;height:11px;text-align:center;line-height:8px;margin:4px 6px 0px 6px;box-shadow:inset 0px 0px 10px #a48707,inset 0px 0px 3px #a48707,0px 0px 1px #FFF,0px 0px 3px #CCC;text-shadow:0px 0px 1px #FD0;color:#fff;cursor:pointer;}
.msg-op{position:absolute; left:415px; top:-3px; z-index:9;}
.msg-op ul{float:left;}
.i-notifications{display:none;position:absolute;background:#FFE6DB;color:#8c2e0b;font-weight:normal;border-radius:0px 0px 5px 5px;margin:7px 0px 0px 0px;z-index:99;}
.product-notifications,.red-info .i-notifications{padding:5px 5px 5px 27px;border:1px solid #ed541d;}
.red-info .sales-notifications{margin:9px 0px 0px 0px;}
.i-notifications ul{margin-bottom:0;}
.i-notifications li{margin:5px 0;text-align:left;}
i.icon-info:hover .i-notifications,
.op-column i.red-info:hover .i-notifications{display:block;}
/* ----- BOOTSTRAP FLAT -----*/
.btn{-webkit-appearance:none;-moz-border-radius:11px;-webkit-border-radius:11px;-moz-background-clip:padding;-webkit-background-clip:padding;background-clip:padding-box;border-radius:11px;background:#ddd url(../images/button.png) repeat-x;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));background:-moz-linear-gradient(top center, #fff 0%, #ddd 100%);border:1px solid;border-color:#ddd #bbb #999;cursor:pointer;color:#333;font:bold 12px/1.2 Arial, sans-serif;outline:0;overflow:visible;padding:3px 10px 4px;text-shadow:#fff 0 1px 1px;width:auto;}
/* -----HEADER SECTION----- */
#home-logo{z-index:9;position:relative;box-shadow:inset 3px 2px 10px #FFF;}
#section-header{background-color:#FCFCFC;position:fixed;width:100%;z-index:99;}
#region-sidebar-first,#section-header{box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);}
.not-logged-in #section-header{background:#000;}
#block-block-5{overflow:hidden;float:left;text-shadow:0px 1px 1px #000;width:200px;height:25px;line-height:25px;padding:0px 10px;margin-left:-10px;margin-top:-1px;text-align:center;background-image:-ms-radial-gradient(center,ellipse closest-corner,#444 0%,#040004 100%);background-image:-moz-radial-gradient(center,ellipse closest-corner,#444 0%,#040004 100%);background-image:-o-radial-gradient(center,ellipse closest-corner,#444 0%,#040004 100%);background-image:-webkit-gradient(radial,center center,0,center center,447,color-stop(0,#444),color-stop(1,#040004));background-image:-webkit-radial-gradient(center,ellipse closest-corner,#444 0%,#040004 100%);background-image:radial-gradient(ellipse closest-corner at center,#444 0%,#040004 100%);}
#block-block-5 a{color:#CCC;}
#block-block-5 a:hover{color:#FFF;cursor:pointer;}
#region-branding{float:left;width:220px;height:35px;background:#CCC;margin:0;}
#region-branding a{font-family:burner;letter-spacing:3px;color:#333;font-size:14px;width:220px;display:block;text-align:center;height:30px;position:relative;z-index:999;line-height:36px;box-shadow:inset 0px -1px 0px #000;background-color:white;}
#region-menu .navigation{float:left;background-image:-ms-radial-gradient(center,ellipse closest-corner,#222222 20%,#040004 100%);background-image:-moz-radial-gradient(center,ellipse closest-corner,#222222 20%,#040004 100%);background-image:-o-radial-gradient(center,ellipse closest-corner,#222222 20%,#040004 100%);background-image:-webkit-gradient(radial,center center,0,center center,447,color-stop(.2,#222222),color-stop(1,#040004));background-image:-webkit-radial-gradient(center,ellipse closest-corner,#222222 20%,#040004 100%);background-image:radial-gradient(ellipse closest-corner at center,#222222 20%,#040004 100%);}
#region-menu .navigation a{height:30px;padding:0 20px;display:block;line-height:26px;color:#CCC;text-shadow:0px 1px 0px #312906,0px 0px 100px #FFF;text-decoration:none;}
#region-menu .navigation a:hover{color:#FFF;text-shadow:0px 1px 0px #312906,0px 0px 0px #FFF;}
#region-menu .navigation a.active-color{color:#FFF;background-image:url(../images/grain-carreau.png);box-shadow:1px 0px 5px #333,inset 0px 0px 25px #000,inset 0px 0px 40px #000;}
#region-menu .navigation a.active-color:before{color:#FFF;}
#region-menu .navigation #main-menu li{text-align:center;height:30px;display:inline-block;padding:0px;margin:0;box-shadow:1px 0px 5px #333,inset 0px 0px 100px rgba(0,0,0,0),inset 0px 0px 100px rgba(0,0,0,0),inset 0px 0px 100px rgba(0,0,0,0); text-shadow:0px 0px 0px rgba(255,255,255,.8);}
#region-menu .navigation #main-menu li:hover{background-image:url(../images/grain-carreau.png);box-shadow:1px 0px 5px #333,inset 0px 0px 25px #000,inset 0px 0px 40px #000;}
#main-menu a:before{margin-right:6px;color:#CCC;}
#main-menu a:hover:before{color:#FFF;}
#region-menu #block-user-login{float:right;}
#region-menu-toolbar{clear:left;}
#block-user-login h2.block-title{color:#FFF;}
#zone-menu-wrapper{background-color:#FFF;height:24px;float:left;width:100%;position:relative;box-shadow:0 -1px 0 #EEE;}
#zone-header-wrapper{float:left;width:100%;height:30px;}
#zone-header-wrapper:after{clear:both;}
#zone-menu-wrapper a.ahlane{font-family:diwan;color:#FFF;font-size:25px!important;display:block;float:left;width:200px;height:30px;line-height:25px;text-align:center;text-shadow:0px 1px 0px #7C5E00;}
#block-block-1 p{margin:0;}
#block-block-1{float:left;}
#block-block-2{float:right;}
#date-manng{text-decoration:none;color:#000;display:block;padding:3px 20px 3px;text-align:center;text-shadow:0px 0px 5px rgba(255,255,255,0.3),-5px 5px 10px #000,5px -5px 10px #000;opacity:.7;box-shadow:inset 0px 0px 3px #000,inset 0px 0px 6px #000,inset 0px 0px 16px rgba(0,0,0,0.75);}
#date-manng:hover{cursor:progress;opacity:1;text-shadow:0px 0px 0px rgba(0,0,0,0),0px 0px 0px rgba(0,0,0,0),0px 0px 0px rgba(0,0,0,0);box-shadow:inset 0px 0px 3px #FFF,inset 0px 0px 6px #FFF,inset 0px 0px 16px rgba(0,0,0,0.75);}
.not-logged-in .navigation{display:none;}
a#dashboard:before{position:relative;top:1px;}
/* ----- USER ----- */
#edit-field-currency-und{padding:0px 20px;}
#edit-field-currency-und{padding:0px 20px;line-height:24px;height:28px;}
.page-user-edit #edit-field-company-telephone-1-und-0-value{direction:ltr;text-align:right;}
.page-user-edit fieldset{border:1px solid #08F;border-radius:5px;padding:0 10px;}
/* -----CONTENT SECTION----- */
#section-content{padding-top:67px;}
#section-content #page-title{display:none;}
/* ---AHLANE -WA- SAHLANE--- */
#assalam-wrapper{margin:100px auto 100px;width:80%;font-family:diwan;color:#FFF;font-size:750%;text-shadow:0 1px 0 #ccc,0 2px 0 #c9c9c9,0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 20px 20px rgba(0,0,0,.15); text-align:center;}
/* ----SHIELD LOGIN GLASS--- */
#account,#logout{color:#555;font-size:14px;margin:10px 5px;cursor:pointer;text-shadow:-1px 1px 2px #CCC;}
#user-login{color:#FFF;box-shadow:0px 0px 3px #FFF,0px 0px 20px #FFF;text-shadow:-2px 2px 2px #000,0px 0px 1px #000,0px 0px 30px #FF0,0px 0px 40px #FF0,0px 0px 50px #FFF,0px 0px 50px #FFF!important;font-size:14px;cursor:pointer;margin:5px!important;padding:3px;border-radius:12px;}
#user-login:hover{color:#a48707;box-shadow:0px 0px 6px #FFF;}
#account:hover,#logout:hover{color:#333;}
#block-system-user-menu a{display:inline-block;text-decoration:none;}
#block-system-user-menu{float:right;}
#shield-glass{position:fixed;top:0;right:0;background-color:rgba(0,0,0,0.8);width:100%;height:100%;z-index:8;}
#shield-block{position:absolute;top:10px;right:100px;float:right;}
#block-user{float:right;margin:100px;padding:20px;z-index:12;position:relative;background-color:#414141;border:4px solid rgba(255,255,255,1);border-radius:20px;color:#FFF;box-shadow:0px 5px 80px rgba(255,255,255,0.5),inset 0px 0px 5px #222,0px 0px 5px #000,0px 0px 5px #000;width:200px;}
#close-login{font-weight:bold;position:absolute;right:10px;top:0px;background-color:#FFF;padding:0px 5px;color:#FF0000;cursor:pointer;box-shadow:-1px 1px 1px #222;}
#user-login-form input{width:200px;}
#user-login-form .form-text{background-color:#EEE;padding:8px 15px;border:1px solid #FFF;border-radius:4px;color:#3A3A3A;font-weight:bold;font-size:14px;text-shadow:0px 10px 10px #FFF;box-shadow:inset 2px 2px 6px #3D3200,2px 2px 6px #000;}
#user-login-form .form-item label{text-shadow:1px 1px 1px #000;}
#user-login-form #edit-submit{color:#FFF;font-weight:bold;border:none;font-size:14px;letter-spacing:2px;overflow:hidden;box-shadow:inset 0px 1px 0px #BD9A00,inset 0px -1px 1px #574E29,1px 1px 1px #3A2F00,1px 2px 1px #000000!important;text-shadow:0px 1px 1px #3A2F00,0px 0px 150px #FFF,0px 0px 130px #FFF !important;background:-webkit-gradient(linear,left top,left bottom,from(#a48707),to(#705B00));background:-ms-linear-gradient(top,#a48707,#705B00);background:-o-linear-gradient(top,#a48707,#705B00);background:-webkit-linear-gradient(top,#a48707,#705B00);background:-moz-linear-gradient(top,#a48707,#705B00);}
#user-login-form a{color:#AAA;text-decoration:none;font-size:10px;}
#user-login-form a:hover{text-decoration:underline;}
/* ----- MENU TOOLBAR ----- */
#block-block-4,#block-block-6{display:none;}
#block-block-4{float:left;margin-left:10px;}
#block-block-6{float:right;margin-right:10px;}
.menu-toolbar a{font-size:16px;float:left;display:block;padding:12px 9px;line-height:1px;cursor:pointer;color:rgba(0,0,0,.75);}
.menu-toolbar .disable{cursor:not-allowed;opacity:.2;text-shadow:0px 1px 0px rgba(255, 255, 255, 0.8);}
.menu-toolbar,.menu-toolbar-plus{height:19px;}
#delete-stock,#delete-sales,#delete-sheets,#delete-contacts,#refresh-contacts,#refresh-sales,#refresh-products,#refresh-sheets{font-size:18px;}
a.icon-minus2{color:#E33;}
a.icon-refresh4{color:#1E89E5;}
.tool-item{display:inline;position:relative;top:2px;margin:0 5px;}
#active-keyboard{display:none;top:4px;position:relative;cursor:pointer;}
#export-csv{font-size:16px;position:relative;top:2px;cursor:pointer;}
.close-export-csv{position:absolute;top:0;right:5px;cursor:pointer;}
#conf-keyboard-ui{display:none;}
#export-layout{display:none;position:absolute;width:200px;background:#EEE;right:0;top:25px;border:1px solid #FFF;padding:5px;box-shadow:0px 0px 3px rgba(0, 0, 0, 0.2),inset 0px 0px 10px rgba(0, 0, 0, 0.1);}
/* ----- MANNG BODY ----- */
#manng-content{width:980px;margin:0 auto;}
#vertical-container{margin-left:260px;position:absolute;}
/* ----- SIDEBAR ----- */
.logged-in #region-sidebar-first{position:fixed;top:70px;width:200px;border-radius:0;border:none;overflow-y:auto;z-index:1;float:left;height:100%;padding:16px 10px 0 10px;margin:-16px 0 0;background:#FFF;}
body.admin-menu #region-sidebar-first{top:100px;}
body.admin-menu.admin-menu-with-shortcuts #region-sidebar-first{top:136px;}
#region-content{padding:0 0 0 220px;}
.menu-sidebar .active-vmsl{background-color:#F4F4F4;box-shadow:inset 0px 0px 6px #CCC,inset 0px 0px 6px #666;}
.menu-sidebar li{margin-bottom:10px;cursor:pointer;padding:2px 0 2px 0;box-shadow:inset 0px 0px 6px #CCC;text-shadow:0px 0px 1px #FFF;}
.menu-sidebar li:hover{background:#F5F5F5;}
.menu-sidebar a{text-decoration:none;color:#919294;}
.menu-sidebar a:before{padding:0 5px;color:#777;}
.menu-sidebar .active-vmsl a:before{color:#313132;}
.menu-sidebar .active-vmsl a{color:#656769;}
*[class^="block-views-menu-sidebar"]{border-bottom:1px solid;}
.block-sidebar-filter{right:10px;float:left;}
/* AUTOCOMPLETE */
html body input.form-text.form-autocomplete,html body input.op-edit-autocomplete.form-autocomplete,html body input.invoice-des.form-autocomplete,html body input.autocomplete-customers.form-autocomplete{background-image:url(/misc/throbber.gif); background-position:100% 4px;}
ul.autocomplete-list{display:none;position:absolute;left:8px;top:12px;max-height:224px;background:#EEEEEE;border:2px solid #FFF;overflow:auto;padding:5px;box-shadow:0px 1px 3px rgba(0, 0, 0, 0.3);border-bottom-left-radius:3px;border-bottom-right-radius:3px;z-index:9;}
.stock-autocomplete-list{margin:12px -7px 0 -7px;}
#sales-autocomplete-list{margin:0px 1px 0 1px;top:27px;}
ul.autocomplete-list.show{display:block;}
ul.autocomplete-list li{list-style:none;padding:0 5px;position:relative;z-index:11;}
ul.autocomplete-list li:hover{cursor:pointer;background:#FFF;}
.autocomplete-list .field-suffix{font-size:9px;color:#666;position:relative;top:-2px;}
.autocomplete-list span{display:inline-block;}
/* WAITING ANIMATION */
#wait-action-load{display:none;position:absolute;top:33%;left:50%;padding:10%;margin:-10%;font-size:30px;border-radius:15px;z-index:9999;color:#1e90ff;}
#wait-action-load.show,#wait-action-load.show2{display:block;}
#wait-action-load.show:before,#wait-action-load.show2:before{-webkit-animation:spin 4s linear infinite;-moz-animation:spin 4s linear infinite;animation:spin 4s linear infinite;box-shadow:0 0 30px rgba(0, 0, 0, 0.5),inset 0 0 30px rgba(0, 0, 0, 0.5),0 0 300px #000,0 0 200px #000,0 0 100px #000;}
@-moz-keyframes spin { 100% { -moz-transform:rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform:rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform:rotate(360deg); transform:rotate(360deg); } }
/* COMMON */
h2.block-title{font-size:18px;margin:0px 0 13px;width:158px;position:relative;top:3px;background-color:#F7F7F7;border:1px solid #EEE;height:21px;line-height:21px;display:inline-block;text-align:center;}
.block-sidebar-filter{border-top:1px solid #DDD;position:fixed;left:10px;top:160px;width:200px;z-index:9;padding-top:10px;}
h4.block-title{font-size:12px;text-align:center;width:98px;line-height:21px;margin:0;float:left;background-color:#F7F7F7;border:1px solid #CCC;color:#222;padding:0 14px;}
/* SCROLLBAR */
#sales-table{clear:both;}
#invoice-content{overflow:auto;padding:10px 10px 20px;}
#user-profile-form,#sales-table,#products-table-wrapper,#block-invoices-content,#salesrevision-content-table{overflow:auto;padding-right:1px;}
#salesrevision-content-table::-webkit-scrollbar,#user-profile-form::-webkit-scrollbar,#block-invoices-content::-webkit-scrollbar,#invoice-content::-webkit-scrollbar,#products-table-wrapper::-webkit-scrollbar,#sales-table::-webkit-scrollbar{width:5px;}
#salesrevision-content-table::-webkit-scrollbar-track,#user-profile-form::-webkit-scrollbar-track,#block-invoices-content::-webkit-scrollbar-track,#invoice-content::-webkit-scrollbar-track,#products-table-wrapper::-webkit-scrollbar-track,#sales-table::-webkit-scrollbar-track{background-color:#ddd;}
#salesrevision-content-table::-webkit-scrollbar-thumb,#user-profile-form::-webkit-scrollbar-thumb,#block-invoices-content::-webkit-scrollbar-thumb,#invoice-content::-webkit-scrollbar-thumb,#products-table-wrapper::-webkit-scrollbar-thumb,#sales-table::-webkit-scrollbar-thumb{background-color:#aaa;border-radius:10px;}
/* ----- OPERATIONS ----- */
i.edit{font-size:12.5px;color:#006C4A;}
i.cancel{color:#C00;}
i.confirm{color:#080;}
i.delete{color:#963B00;}
.operation i.hide{display:none;}
.operation i{float:right;margin-left:10px;cursor:pointer;}
.icon-close2{color:#F00;font-size:14px;cursor:pointer;}
/* ----- FILTERS ----- */
.filters-wrapper *{width:100%;}
.title-wrapper .button{float:right;}
.names-filter-wrapper{position:relative;}
.close-contacts-names-filter{display:none;color:#888;cursor:pointer;position:absolute;left:186px;top:1px;}
.filter-wrapper{margin-bottom:5px;}
