#block-contacts-ng-contacts-ng i.icon-addressbook:before{position:relative;top:1px;}
.customers-line-item span[contenteditable],.suppliers-line-item span[contenteditable]{box-shadow:1px 1px 0 #CCC,1px -1px 0 #CCC,-1px 1px 0 #CCC,-1px -1px 0 #CCC,0 0 3px #0CF;border-radius:2px;display:block;padding:0 5px;}
*[contenteditable] *{background:transparent!important;}