i.pp-op{margin:0 10px 0 0;}
i.pp-op.hide{display:none;}
i.pp-op.icon-info,.op-column i.red-info{color:#ED541D;height:10px;overflow:hidden;display:inline-block;box-shadow:0px 1px 0px #ED541D;font-size:12px;}
i.pp-op.icon-info.hide-info{display:none;}
i.pp-op.delete,i.pp-op.response{position:relative;top:1px;}
.pp-ops i:before{display:inline-block;}
.pp-ops i{cursor:pointer;}
.pp-holder input{width:100%;}
.pp-holder select{padding:0 20px;}
.product-row .cat-select-list{display:none;}
select.prod-cat-select[disabled]{background:none;border:none;margin-right:-2px;padding:0;}
.cat-man{cursor:pointer;display:inline-block;margin:3px;padding:0 3px;background:#EEE;width:50px;height:16px;line-height:16px;text-align:center;border:1px solid #CCC;border-radius:10px;}
#manage-terms{background:#F5F5F5;padding:3px;max-height:300px;overflow-y:auto;border:1px solid #CCC;}
#manage-terms div{background:#DDD;margin-bottom:2px;border:1px solid #CCC;}
#manage-terms input{height:21px;width:150px;}
#manage-terms input:focus{box-shadow:0 0 3px #023;}
#manage-terms i{cursor:pointer;box-shadow:inset 0 0 10px #888;padding:3px;}
.field-suffix{margin:0 5px;color:#999;}
#block-views-products-block .content{margin-top:9px;}
h3.block-title-action{font-size:16px;border-bottom:1px solid #999;}
#block-products-ng-products-ng h4.block-title{display:inline-block;}
.title-master-op{cursor:pointer;display:inline-block;background-color:#F7F7F7;box-shadow:inset 0px 0px 1px #999;color:rgba(51, 51, 51, 0.72);margin:0px 10px;line-height:17px;position:relative;top:1px;border-radius:20px;z-index:9;}
.title-master-op i{padding:1px 2px 3px;font-size:13px;color:#333;border:1px solid #AAA;border-radius:10px;position:relative;top:1px;}
.title-master-op span{display:none;margin:0 10px;}
.title-master-op:hover{box-shadow:0px 0px 1px #000;}
.title-master-op:hover span{display:inline-table;}
#manage-categories{position:absolute;top:13px;z-index:9;}
#manage-categories:hover{width:85%;}
#add-product span{padding:0 5px 0 0px;}
.admin-menu #block-products-filter{top:195px;}
.admin-menu.admin-menu-with-shortcuts #block-products-filter{top:230px;}
.title-wrapper{height:23px;margin-bottom:10px;}
select.cat-select-list{width:100%;max-height:300px;background-color:#F5F5F5;}
input#prod-img{max-width:180px;}
#save-product-title{position:absolute;margin:3px -18px;color:#259300;cursor:pointer;}
.col-name span.pp-holder{position:relative;}