.screen{display:none;}
.print{display:inline-block;}
html{direction:rtl;}
#invoice-content{background:#FFF;border-radius:2px;width:960px;margin:0 auto;padding:10px 10px 100px;height:auto!important;}
table{border:1px solid #CCC;width:100%;border-collapse:collapse;border-spacing:0;}
th{text-shadow:#fff 0px 1px 0px;font-size:11px;color:#666;background:#f7f7f7;border-bottom:1px solid #ccc;padding:4px 8px;vertical-align:middle;text-align:right;}
th.invoice-sharp{width:1%;}
td{padding:4px 8px;}
tr.fake-row td{border:none!important;}
.invoice-table{margin-bottom:50px;}
.icon- i{padding:0 5px;}
.invoices-menu-sidebar-link .icon-file-text{font-size:15px;width:13px;display:inline-block;position:relative;top:1px;left:1px;}
.invoice-des{width:100%;}
.invoice-company,.invoice-customer{display:inline-block;}
.invoice-company{width:640px;padding:0 20px;}
.invoice-head{margin-bottom:30px;font-size:14px;height:180px;}
.invoice-company .telephone{direction:ltr;text-align:right;}
.customer-info-tag{width:40px;display:inline-block;}
.invoice-company .address{width:300px;}
.invoice-customer h1,.invoice-company h2{margin-top:12px;letter-spacing:0;}
.invoice-customer{position:absolute;width:280px;}
#invoice-date{border:0;}
.invoice-autocomplete{display:none;margin:0px 1px 0 1px;}
ul.invoice-autocomplete.show{display:block;}
.icon-remove22,#invoice-add-item{cursor:pointer;}
#invoice-table td input{width:100%;border:none;}
#invoice-table tbody tr{border-bottom:1px solid #DDD;}
#invoice-table tfoot td.bordred{border:1px solid #BBB;}
#invoice-table tbody td{border:1px solid #DDD;}
.invoice-alphabetic-amount{text-align:center;}
.alphabetic-amount{letter-spacing:1px;font-size:16px;}
span#amount{font-weight:bold;}
#invoice-table tbody input.tot{background:#FFF;}
#downpayment{font-family:inherit;}
.invoice-foot{position:relative;margin-top:30px;}
.invoice-foot > div{display:inline-block;}
.invoice-signature{margin:0px 100px;width:390px;font-size:16px;position:absolute;top:0;}
.invoice-comment{border:1px solid #CCC;height:150px;width:350px;border-radius:3px;position:absolute;left:0;margin-bottom:20px;}
textarea#comment{height:150px;width:350px;resize:none;}
#invoice-content.quote .invoice-alphabetic-amount{display:none;}