@font-face{font-family:'droid';src:url('../../fonts/droid-kufi.ttf')format('truetype');}
body *{font-family:droid;letter-spacing:.5px;font-style:normal;font-variant:normal;}
#region-menu .navigation,#region-branding,#block-block-5,#block-block-4{float:right;}
#block-block-2,#block-block-6,#block-system-user-menu{float:left;}
#block-block-5{margin-right:-10px;}
#block-block-4{margin-right:10px;}
#block-block-6{margin-left:10px;}
#main-menu a:before{margin-left:6px;}
#region-content{padding:0 220px 0 0px;}
#sales-ng-sales-form .form-type-date-popup.form-item-date{float:right;}
.op-column i.ii{float:right;}
html body input.form-text.form-autocomplete,html body input.form-autocomplete.op-edit-autocomplete,html body input.invoice-des.form-autocomplete,html body input.autocomplete-customers.form-autocomplete{background-position:2px 4px;}
.msg-op{right:420px;left: auto;}
.msg-op ul{float:right;margin:0 10px 0 20px;}
.msg-op div.messages{padding:1px 18px 0px 0px;}
.msg-op div.messages ul{margin:0 1em 0 2em;}
.icheckbox:before{left:0.5px;}
.menu-toolbar a{float:right;}
.pager li.pager-last,.pager li.pager-next.last{left:0;right:auto;}
.item-list .pager li,.item-list .pager ul li{float:right;}
.pager li.pager-next{left:50px;right:auto;}
.pager li.first,.pager li.first a,.pager li.first a:hover{border-radius:0px 5px 5px 0px;-moz-border-radius:0px 5px 5px 0px;-webkit-border-radius:0px 5px 5px 0px;}
.product-notifications,.red-info .i-notifications{padding:5px 27px 5px 10px;}
.i-notifications li{text-align:right;}
#sales-table,#products-table-wrapper,#block-invoices-content,#user-profile-form{padding-left:1px;}
#products-table-wrapper{right:387px;left:0;}
h4.block-title{float:right;letter-spacing:.5px;font-size:13px;}
#manage-categories:hover{width:60%;}
#add-product span{padding:0 0px 0 5px;top:-1px;position:relative;}
i.pp-op{margin:0 0 0 10px;}
.block-sidebar-filter{right:10px;float:right;}
td.des:after{float:left;padding:1px 3px 0;color:#EE0B34;box-shadow:inset 0px 0px 1px #F00;background-color:#FBF4F4;}
td.inv-des:after{float:left;padding:1px 3px 0;background-color:#FBF4F4;}
i.ii .fake-checkbox{margin:0 2px 0 1px;}
/* Invoices */
.invoices-menu-sidebar-link .icon-file-text{left:-1px;}
#invoice-date{text-align:right;}
.title-master-op i{padding:1px 1px 3px 3px;}
#manage-categories i{padding:1px 2px 3px 3px;}
.invoice-select{padding:0 20px 0 0;}
.contact-form,#customers-table span,#suppliers-table span{direction:ltr;text-align:right;}
.title-wrapper .button{float:left;}
.close-contacts-names-filter{right:186px;}
#export-layout{right:-198px;}
.block-title-revision{font-size:13px;}
